[run]
branch = True

[report]
skip_covered = True
omit =
    */migrations/*.py
    src/tcms/celery.py
    src/tcms/__init__.py
    src/tcms/settings/*.py
    src/tcms/wsgi.py
    */urls.py
    */urls/*.py
