include AUTHORS CHANGELOG.rst README.rst LICENSE VERSION.txt
include python-nitrate-tcms.spec Makefile requirements.txt
include src/manage.py

include .coveragerc .eslintrc.js .dockerignore .gitignore
include docker-compose.yml docker-compose-dev.yml
include tox.ini

graft .github
graft docker
graft contrib
graft src/locale
graft src/static
graft src/templates
graft src/tests

include docs/Makefile docs/requirements.txt docs/make.bat
graft docs/source

global-exclude *.pyc
