include AUTHORS CHANGELOG.rst README.rst LICENSE VERSION.txt
include nitrate.spec Makefile requirements.txt
include src/manage.py

graft contrib
graft src/locale
graft src/static
graft src/templates
graft src/tests

include docs/Makefile docs/requirements.txt docs/make.bat
graft docs/source

global-exclude *.pyc
