include AUTHORS CHANGELOG.rst README.rst LICENSE VERSION.txt
include nitrate.spec Makefile requirements.txt

graft contrib
graft tcms/locale
graft tcms/static
graft tcms/templates

include docs/Makefile docs/requirements.txt docs/make.bat
graft docs/source