{% extends "tcms_master.html" %}
{% load extra_filters %}
{% block subtitle %}{{ type|upper }} - {{ info }}{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/testplan_actions.js"></script>
<script type="text/javascript">
Nitrate.Utils.after_page_load(Nitrate.TestPlans.List.on_load);
</script>
{% endblock %}

{% block page_content %}
<div class="container" style="margin-top: 90px">
	<div class="blank-slate-pf table-view-pf-empty" id="emptyState1">
		<div class="blank-slate-pf-icon">
			<img src="{{ STATIC_URL }}images/ico32_information.png" />
		</div>
		<h1>
			{{ info|safe }}
		</h1>
		<div class="blank-slate-pf-secondary-action">
			{% if next %}
			<a class="btn btn-primary btn-lg" href="{{ next }}">Continue</a>
			{% else %}
			<input type="button" class="btn btn-primary btn-lg" value="Return" onclick="javascript:history.go(-1)"
				   style="padding-left:10px; padding-right:10px; cursor:pointer;" />
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
