{% load cache %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="Shortcut Icon" href="{{ STATIC_URL }}images/favicon.png" />
	<link href="{{ STATIC_URL }}style/fontawesome.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}style/patternfly.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}style/patternfly-additions.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}style/nitrate.css" rel="stylesheet">
	{% block custom_styles %}{% endblock %}

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>

	<script src="{{ STATIC_URL }}js/lib/jquery-3.2.1.min.js"></script>
	<script src="{{ STATIC_URL }}js/lib/bootstrap/bootstrap-3.3.7.min.js"></script>
	{% block jslib_before_patternfly %}{% endblock %}
	<script src="{{ STATIC_URL }}js/lib/patternfly.min.js"></script>

	<script type="text/javascript" language="javascript" charset="utf-8">
      	var jQ = jQuery.noConflict();
		{#var jQ = jQuery;#}
		// Top level namespace
		window.Nitrate = {};

		window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";
		{% if request.user.is_authenticated %}
		Nitrate.User = {
			pk: {{ request.user.pk }},
			username: '{{ request.user.username }}',
			email: '{{ request.user.email }}',
		};
		{% else %}
		Nitrate.User = {
			pk: null,
			username: 'anonymous',
			email: 'anonymous@anywhere.com',
		};
		{% endif %}
	</script>

	<script type="text/javascript" src='{{ STATIC_URL }}js/tcms_actions.js'></script>
	{% block custom_javascript %}{% endblock %}

	{% block extra_head %}{% endblock %}

	<title>Nitrate - {% block subtitle %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-bottom: 0px">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url "nitrate-index" %}" style="padding: 8px 10px 6px 10px">
			<img src="{{ STATIC_URL }}images/logo_2.png" height="30px">
		</a>
	</div>

	<div class="collapse navbar-collapse" id="top-navbar">
		<ul class="nav navbar-nav navbar-nitrate">
			<li class="dropdown {% ifequal module 'planning' %}active{% endifequal %}">
				<a class="dropdown-toggle" href="#" id="navbarPlanning" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					PLANNING
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item {% ifequal sub_module 'search_plans' %}active{% endifequal %}"
							href="{% url "plans-all" %}">Search Plans</a>
					</li>
					{% if user.is_authenticated %}
					<li>
						<a class="dropdown-item {% ifequal sub_module 'my_plans' %}active{% endifequal %}"
							href="{% url "plans-all" %}?author__email__startswith={{ user.email }}">My Plans</a>
					</li>
					<li>
						<a class="dropdown-item {% ifequal sub_module 'new_plan' %}active{% endifequal %}"
							href="{% url "plans-new" %}">New Plan</a>
					</li>
					{% endif %}
				</ul>
			</li>

			<li class="dropdown {% ifequal module "testing" %}active{% endifequal %}">
				<a class="dropdown-toggle" href="#" id="navbarTesting" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					TESTING
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item {% ifequal sub_module 'search_runs' %}active{% endifequal %}"
							href="{% url "runs-all" %}">Search Runs</a>
					</li>
					<li>
						<a class="dropdown-item {% ifequal sub_module 'search_cases' %}active{% endifequal %}"
							href="{% url "cases-all" %}">Search Cases</a>
					</li>
					{% if user.is_authenticated %}
					<li>
						<a class="dropdown-item {% ifequal sub_module 'my_cases' %}active{% endifequal %}"
							href="{% url "runs-all" %}?people={{ user.email }}">My Runs</a>
					</li>
					<li>
						<a class="dropdown-item {% ifequal sub_module 'new_case' %}active{% endifequal %}"
							href="{% url "cases-new" %}">New Case</a>
					</li>
					{% endif %}
				</ul>
			</li>

			<li class="dropdown {% ifequal module "env" %}active{% endifequal %}">
				<a class="nav-link dropdown-toggle" href="#" id="navbarEnvironment" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					ENVIRONMENT
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item {% ifequal sub_module "env_groups" %}active{% endifequal %}"
							href="{% url "management-env-groups" %}">Groups</a>
					</li>
					<li>
						<a class="dropdown-item {% ifequal sub_module "env_properties" %}active{% endifequal %}"
							href="{% url "management-env-properties" %}">Properties</a>
					</li>
				</ul>
			</li>

			<li class="dropdown {% ifequal module "report" %}active{% endifequal %}">
				<a class="nav-link dropdown-toggle" href="#" id="navbarReporting" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					REPORTING
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item {% ifequal sub_module "overall_report" %}active{% endifequal %}"
							href="{% url "report-overall" %}">Overall</a>
					</li>
					<li>
						<a class="dropdown-item {% ifequal sub_module "custom_report" %}active{% endifequal %}"
							href="{% url "report-custom" %}">Custom</a>
					</li>
					<li>
						<a class="dropdown-item {% ifequal sub_module "testing_report" %}active{% endifequal %}"
							href="{% url "testing-report" %}">Testing Report</a>
					</li>
				</ul>
			</li>

			{% if user.is_staff %}
			<li class="dropdown {% if not module %}active{% endif %}">
				<a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					ADMIN
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						{# FIXME: Is "products" a correct module name for Auth app? #}
						<a class="dropdown-item {% ifequal sub_module "products" %}active{% endifequal %}"
							href="{% url "admin:app_list" "auth" %}">Auth</a>
					</li>
					<li>
						{# FIXME: Is "environments" a correct module name for Auth app? #}
						<a class="dropdown-item {% ifequal sub_module "environments" %}active{% endifequal %}"
							href="{% url "admin:app_list" "management" %}">Management</a>
					</li>
					<li>
						<a class="dropdown-item {% ifequal sub_module "testplans" %}active{% endifequal %}"
							href="{% url "admin:app_list" "testplans" %}">Test Plans</a>
					</li>
					<li>
						<a class="dropdown-item {% ifequal sub_module "testcases" %}active{% endifequal %}"
							href="{% url "admin:app_list" "testcases" %}">Test Cases</a>
					</li>
				</ul>
			</li>
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right navbar-nitrate">
			<li>
				<a href="#" title="Bookmark this page"><i class="far fa-star"></i></a>
			</li>
			<li class="dropdown">
				<a href="#" id="dropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<i class="far fa-question-circle"></i>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownHelp">
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Help</a>
					</li>
				</ul>
			</li>

			<li class="{% if user.is_authenticated %}dropdown{% endif %}">
				{% if user.is_authenticated %}
					<a class="nav-link dropdown-toggle" href="#" id="navbarLoggedUser" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">
						Welcome, {{ user }}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url "nitrate-logout" %}?next={{ request.path }}">Logout</a>
						</li>
					</ul>
				{% else %}
					<a class="nav-link" href="{% url "nitrate-login" %}?next={{ request.path }}">Login</a>
				{% endif %}
			</li>
		</ul>

		<form class="navbar-form navbar-right">
			<div class="form-group">
				<select name="search_type" class="form-control">
					<option value="plans" {% ifequal sub_module "testplans" %}selected{% endifequal %}>Test Plan</option>
					<option value="runs" {% ifequal sub_module "testruns" %}selected{% endifequal %}>Test Run</option>
					<option value="cases" {% ifequal sub_module "testcases" %}selected{% endifequal %}>Test Case</option>
				</select>
				<input type="text" class="form-control" placeholder="Search"><button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
			</div>
		</form>
	</div>
</nav>

<div class="container-fluid">
    {% block page_content %}{% endblock %}
</div>

{% cache 600 footerbar%}
<footer class="footer mt-auto py-3 fixed-bottom">
	<div class="container">
		{% for link in SETTINGS.FOOTER_LINKS %}
		<a href="{{ link.0 }}">{{ link.1 }}</a>{% if not forloop.last %}|{% endif %}
		{% endfor %}
		<span class="text-muted">Nitrate {{ SETTINGS.NITRATE_VERSION }} &copy; {% now "Y" %} Nitrate Team</span>
	</div>
</footer>
{% endcache %}

<script type="text/javascript">
  jQ(document).ready(function () {
    // Once a page has these classes, datepicker or timepicker will be enabled.
    // This is added originally for customizing admin site.
	if (jQ('.bootstrap-datepicker').length > 0) {
      jQ('.bootstrap-datepicker').datetimepicker({
        allowInputToggle: true,
        showTodayButton: true,
        showClear: true,
        format: "YYYY-MM-DD",
        useCurrent: false,
        icons: {
          previous: 'fa fa-angle-left',
          next: 'fa fa-angle-right',
          clear: 'fas fa-trash-alt',
          today: 'far fa-calendar-check'
        },
        keyBinds: {
          enter: function () {
            this.hide();
          }
        }
      });
	}
    if (jQ('.bootstrap-timepicker').length > 0) {
      jQ('.bootstrap-timepicker').datetimepicker({
        format: 'LT',
        allowInputToggle: true,
        useCurrent: false,
        icons: {
          up: 'fa fa-angle-up',
          down: 'fa fa-angle-down'
        },
        keyBinds: {
          enter: function () {
            this.hide();
          }
        }
      });
    }
  });
</script>
</body>
</html>
