{% extends "tcms_master.html" %}

{% block subtitle %}Test runs{% endblock %}

{% block jslib_before_patternfly %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src='{{ STATIC_URL }}js/testrun_actions.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}js/management_actions.js'></script>
<script type="text/javascript">
Nitrate.Utils.after_page_load(Nitrate.TestRuns.List.on_load);
</script>
{% endblock %}

{% block page_content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url "nitrate-index" %}">Home</a></li>
		{% if query_result %}
		<li class="breadcrumb-item"><a href="{% url "runs-all" %}">Test Runs</a></li>
		<li class="breadcrumb-item active" aria-current="page">Search result</li>
		{% else %}
		<li class="breadcrumb-item active" aria-current="page">Test Runs</li>
		{% endif %}
	</ol>
</nav>

{% include "run/runs_search_content.html" %}
{% endblock %}
