{% extends "tcms_master.html" %}
{% load extra_filters %}
{% block subtitle %}Test cases{% endblock %}

{% block jslib_before_patternfly %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.dataTables.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-switch.min.js"></script>
<script type="text/javascript" src='{{ STATIC_URL }}js/testplan_actions.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}js/testcase_actions.js'></script>

<script type="text/javascript">
Nitrate.TestCases.List.Param = {
	'case_printable': '{% url "cases-printable" %}',
	'case_export':'{% url "cases-export" %}'
};
Nitrate.Utils.after_page_load(Nitrate.TestCases.List.on_load);
</script>
{% endblock %}

{% block page_content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url "nitrate-index" %}">Home</a></li>
		{% if query_result %}
			<li class="breadcrumb-item"><a href="{% url "cases-search" %}">Search Cases</a></li>
			<li class="breadcrumb-item active" aria-current="page">Search result</li>
		{% else %}
			<li class="breadcrumb-item active" aria-current="page">Search Cases</li>
		{% endif %}
	</ol>
</nav>

{% include "case/cases_search_content.html" %}

<script>
  jQ(document).ready(function() {
	jQ(".bootstrap-switch").bootstrapSwitch();
  });
</script>
{% endblock %}
