{% extends "tcms_base.html" %}
{% load static %}

{% block subtitle %}{{ testplan.title }}{% endblock %}

{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static "style/print.css" %}" media="print" />
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{% static "js/testplan_actions.js" %}"></script>
<script type="text/javascript" src="{% static "js/testcase_actions.js" %}"></script>
<script type="text/javascript" src="{% static "js/nitrate.attachments.js" %}"></script>
<script type="text/javascript">
Nitrate.Utils.after_page_load(Nitrate.TestPlans.Attachment.on_load);
Nitrate.Utils.after_page_load(Nitrate.Attachments.on_load);
</script>
{% endblock %}

{% block contents %}

<div id="content">
	<div class="sprites crumble">
		<a href="{% url "nitrate-index" %}">Home</a>
		{% if testplan %}
		>> Plan: <a href="{{ testplan.get_absolute_url }}">[{{ testplan.pk }}]: {{ testplan.name }}</a>
		{% endif %}
		>>Case: <a href="{{ testcase.get_absolute_url }}?from_plan={{ testplan.pk }}">[{{ testcase.pk }}]: {{ testcase.summary }}</a>
		>> Manage Attachment
	</div>
	<h2>{{ testcase.summary }}</h2>
	<div class="Detailform border-1">
		<form action="{% url "upload-file" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<div class="mixbar">
				<span class="tit">Upload New Attachment</span>
				<input type="hidden" name="to_case_id" value="{{ testcase.case_id }}" />
				<input type="file" name="upload_file" id="upload_file" limit="{{ limit }}"/>
				<input type="submit" value="Upload" />
				<input type="button" class="js-back-button" value="Back" />
				<span class="right-action">Note: Each attachment size limit is {{ limit_readable }}.</span>
			</div>
		</form>

		{% include "plan/attachments_table.html" with attachments=testcase.attachments.all from="from_case" object_id=testcase.pk %}
	</div>
</div>

{% endblock %}
