<label class="sd" for="id_plan_id">Plan</label>

<table class="list border-1" cellpadding="0" cellspacing="0">
	<tr>
		<th width="3%">&nbsp;</th>
		<th class="widthID">ID</th>
		<th width="8%">Plan Type</th>
		<th width="8%">Author</th>
		<th width="8%">Is Active</th>
		<th>Plan Summary</th>
	</tr>
	{% for plan in plans %}
	<tr class="{% cycle 'odd' 'even' %}">
		<td align="center"><input type="checkbox" name="plan" value="{{ plan.pk }}" /></td>
		<td><a href="{{ plan.get_absolute_url }}" target="_blank">{{ plan.pk }}</a></td>
		<td>{{ plan.type }}</td>
		<td>{{ plan.author }}</td>
		<td>{% if plan.is_active %} Yes {% else %} No {% endif %}</td>
		<td><a href="{{ plan.get_absolute_url }}" target="_blank">{{ plan }}</a></td>
	</tr>
	{% empty %}
	<tr><td>&nbsp;</td><td colspan="5">There are no plans</td></tr>
	{% endfor %}
</table>
