<ul class="comment ul-no-format">
{% for comment in comments %}
	<li>
		{% if comment.user.pk == user.pk %}
			<form action="{% url "comments-delete" %}" method="post" class="form_comment">
				<input type="hidden" name="comment_id" value="{{ comment.pk }}" />
				<input type="hidden" name="object_pk" value="{{ test_case.pk }}" />
				<span class="strong">#{{ forloop.counter }}</span>
				<span class="strong">{{ comment.user.email }}</span>
				<span class="grey">{{ comment.submit_date }}</span>
				<br/>
				{{ comment.comment|urlize|linebreaksbr }}
				<input class='commentdelete sprites' value='Delete Comment' type='submit' />
			</form>
		{% else %}
			<span class="strong">#{{ forloop.counter }}</span>
			<span class="strong">{{ comment.user.email }}</span>
			<span class="grey">{{ comment.submit_date }}</span>
			<br/>
			{{ comment.comment|urlize|linebreaksbr }}
		{% endif %}
	</li>
{% endfor %}
<ul>