{% load i18n %}
<div class="form-group">
	<div class="input-group admin_filter">
		<span class="input-group-addon" id="basic-addon1">{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</span>
		<select name="filter" onchange="window.location.href=this.value" class="form-control">
			{% for choice in choices %}
				<option value="{{ choice.query_string|iriencode }}" {% if choice.selected %}selected{% endif %}>{{ choice.display }}</option>
			{% endfor %}
		</select>
	</div>
</div>
