{% load i18n admin_urls %}
<div class="col-sm-offset-2 col-sm-10" aria-label="submit-object-buttons">
	{% if show_save %}<button type="submit" class="btn btn-primary" name="_save">{% trans 'Save' %}</button>{% endif %}
	{% if show_delete_link %}
		{% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
		<a href="{% add_preserved_filters delete_url %}" class="btn btn-danger">{% trans "Delete" %}</a>
	{% endif %}
	{% if show_save_as_new %}<input type="submit" class="btn btn-default" value="{% trans 'Save as new' %}" name="_saveasnew" />{% endif %}
	{% if show_save_and_add_another %}<input type="submit" class="btn btn-default" value="{% trans 'Save and add another' %}" name="_addanother" />{% endif %}
	{% if show_save_and_continue %}<input type="submit" class="btn btn-default" value="{% trans 'Save and continue editing' %}" name="_continue" />{% endif %}
</div>
