<form id="id_search_plan_form" class="toolbar-pf-actions" method="get" action="{% url "plans-all" %}">
	<div class="form-group">
		<label for="id_{{ search_plan_form.name__icontains.name }}">{{ search_plan_form.name__icontains.label }}</label>
		{{ search_plan_form.name__icontains }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.author__email__startswith.name }}">{{ search_plan_form.author__email__startswith.label }}</label>
		{{ search_plan_form.author__email__startswith }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.owner__username__startswith.name }}">{{ search_plan_form.owner__username__startswith.label }}</label>
		{{ search_plan_form.owner__username__startswith }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.type.name }}">{{ search_plan_form.type.label }}</label>
		{{ search_plan_form.type }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.tag__name__in.name }}">{{ search_plan_form.tag__name__in.label }}</label>
		{{ search_plan_form.tag__name__in }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.case__default_tester__username__startswith.name }}">{{ search_plan_form.case__default_tester__username__startswith.label }}</label>
		{{ search_plan_form.case__default_tester__username__startswith }}
	</div>
	<div class="form-group">
		<label for="id_is_active">Active</label>
		{{ search_plan_form.is_active }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.product.name }}">{{ search_plan_form.product.label }}</label>
		{{ search_plan_form.product }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.product_version.name }}">{{ search_plan_form.product_version.label }}</label>
		{{ search_plan_form.product_version }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.env_group.name }}">{{ search_plan_form.env_group.label }}</label>
		{{ search_plan_form.env_group }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.create_date__gte.name }}">{{ search_plan_form.create_date__gte.label }}</label>
		{{ search_plan_form.create_date__gte }}
	</div>
	<div class="form-group">
		<label for="id_{{ search_plan_form.create_date__lte.name }}">{{ search_plan_form.create_date__lte.label }}</label>
		{{ search_plan_form.create_date__lte }}
	</div>
	<div class="form-group">
		<input type="submit" value="Search" class="btn btn-primary" />
		<input type="reset" value="Reset" title="Reset the search conditions" class="btn btn-default" />
	</div>
</form>

<script>
	jQ('.bootstrap-datepicker').datepicker({
		autoclose: true,
		todayBtn: "linked",
		todayHighlight: true,
		format: "yyyy-mm-dd"
	});
</script>
