body {font-size: 14px;}

.blind_all_link, .blind_icon { cursor: pointer;}
.ajax_loading {background: url("../images/ajax-loading.gif") no-repeat center center;width: 100%;height: 300px;}

.red {color: red;}
.grey{color:#999!important; cursor:default;}

/* Search objects */
.search-criteria-sidebar {background:#f5f5f5; border:1px solid #ccc;}

/* Table */
.even,.evenRow,.roweven{background:#f5f5f5; }
.odd,.oddRow,.rowodd{ background:#ffffff; }

.case_detail { float:left; width:100%; table-layout:fixed;}
.case_detail h4{ margin:0px;}
.case_detail td{ border:1px solid #ccc; background:#fff; vertical-align:top; padding:10px;}
.case_detail .title{width:95%; float:left; color:#3E5161; padding-bottom:5px; border-bottom:dotted 1px #ccc;}
.case_detail .case_list{ width:50%; float:left;}
/*.right_pannel{ float:right; margin-left:-265px; width:260px; padding-top:10px;}*/
.case_detail .no-border td{ border:0px;}

.nt-case-content-row {background: #F3F8FC}
.nt-table-border {border-spacing: 2px; border-collapse: separate;}

.social-logins {padding: 0; margin: 0;}
.social-logins li {display: inline; padding-right: 16px;}
.progress {height: 21px; background-color: #858585;}

.dataTables_paginate, .dataTables_info {margin-top: 15px}

/* caserun stutas icon */
.icon_status {display:inline-block; padding-left:23px; height:23px; line-height:23px; background:url(../images/ico_status.png) no-repeat;}
.btn_status {display:inline-block; width:23px; height:23px; line-height:23px; background:url(../images/ico_status.png) no-repeat; margin-right:4px; border:0px; float:left; cursor:pointer;}
.btn_passed{background-position:0px -207px;}
.btn_passed[disabled="True"]{background-position:0px -253px;}
.btn_failed{background-position:0px -345px;}
.btn_failed[disabled="True"]{background-position:0px -391px;}
.btn_blocked{background-position:0px -483px;}
.btn_blocked[disabled="True"]{background-position:0px -529px;}
.btn_idle{background-position:0px -276px;}
.btn_idle[disabled="True"]{background-position:0px -322px;}
.btn_paused{background-position:0px -138px;}
.btn_paused[disabled="True"]{background-position:0px -184px;}
.btn_error{background-position:0px -414px;}
.btn_error[disabled="True"]{background-position:0px -460px;}
.btn_running{background-position:0px -69px;}
.btn_running[disabled="True"]{background-position:0px -115px;}
.btn_waived{background-position:0px 0px;}
.btn_waived[disabled="True"]{background-position:0px -46px;}

.navbar-nitrate li a {font-size: 14px;}
.nav-tabs-bottom {margin-bottom: 20px}

/* Styles for Reports */

.testing-report-selected-options {
    padding: 0px;
}
.testing-report-selected-options li {
    display: inline-block;
    padding-right: 10px;
}

.report-top-stats {padding: 0px;}
.report-top-stats li {display: inline-block; padding-left: 10px;}
.report-top-stats li:first-child {padding-left: 0px; padding-right: 20px;}

.recent-table-footer {padding: 0px;}
.recent-table-footer li {display: inline-block;}
.recent-table-footer li:last-child {float: right;}

table#testcases_table th.col-expansion {width: 30px;}
table#testcases_table th.col-case-selector {width: 30px;}
table#testcases_table th.col-case-id {width: 50px;}
/*Not set width for "table#testcases_table th.col-case-summary" to let Browser set it automatically */
table#testcases_table th.col-case-author {width: 140px;}
table#testcases_table th.col-case-default-tester {width: 140px;}
table#testcases_table th.col-case-automated {width: 120px;}
table#testcases_table th.col-case-status {width: 140px;}
table#testcases_table th.col-case-category {width: 160px;}
table#testcases_table th.col-case-priority {width: 80px;}
table#testcases_table th.col-case-created-date {width: 200px;}

table#testplans_table th.col-plan-selector {width: 30px;}
table#testplans_table th.col-plan-id {width: 80px;}
/*Not set width for "table#testplans_table th.col-plan-name" to let Browser set it automatically */
table#testplans_table th.col-plan-author {width: 140px;}
table#testplans_table th.col-plan-owner {width: 140px;}
table#testplans_table th.col-plan-product {width: 200px;}
table#testplans_table th.col-plan-type {width: 120px;}
table#testplans_table th.col-plan-cases-count {width: 80px;}
table#testplans_table th.col-plan-runs-count {width: 80px;}
table#testplans_table th.col-plan-actions {width: 80px;}

table#testruns_table th.col-run-selector {width: 30px;}
table#testruns_table th.col-run-id {width: 80px;}
table#testruns_table th.col-run-manager {width: 140px;}
table#testruns_table th.col-run-default-tester {width: 140px;}
table#testruns_table th.col-run-product {width: 200px;}
table#testruns_table th.col-run-product-version {width: 140px;}
table#testruns_table th.col-run-environment {width: 120px;}
table#testruns_table th.col-run-cases {width: 80px;}
table#testruns_table th.col-run-status {width: 60px;}
table#testruns_table th.col-run-completed-progress {width: 180px;}
