<div class="row toolbar-pf table-view-pf-toolbar" id="toolbar1">
	<div class="col-sm-12">
		<form id="plans_form" class="toolbar-pf-actions">
			<div class="form-group">
				<button type="button" title="clone selected test runs" class="btn btn-default js-clone-testruns" data-param='{% url "runs-clone" %}' disabled>
					<i class="far fa-clone"></i> Clone
				</button>
			</div>
			<div class="toolbar-pf-action-right">
				<div class="form-group">
					{% if request.user.is_authenticated %}
					<a class="btn btn-default" href="{% url "runs-all" %}?case_run__assignee={{ user.email }}">View My Assigned Runs</a>
					{% endif %}
					<a title="List all the plans" class="btn btn-default"
						href="?summary=&plan=&product_id=&env_group_id=&manager=&status=">View All Runs</a>
				</div>
			</div>
		</form>
	</div>
</div>
<div id="table1_wrapper" class="dataTables_wrapper no-footer">
	<table id="testruns_table" class="table table-striped table-bordered table-hover dataTable no-footer">
		<thead>
		<tr>
			<th width="10"><input id='id_check_all_runs' type="checkbox" title="Select all/Select none" /></th>
			<th>ID</th>
			<th>Summary</th>
			<th>Manager</th>
			<th>Default Tester</th>
			<th style="display:none" id="col_plan_head" >Plan</th>
			<th>Product</th>
			<th>Product Version</th>
			<th title='Plan Environment Group'>Environment</th>
			<th>Cases</th>
			<th>Status</th>
			<th>Completed</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

