{% extends "tcms_master.html" %}
{% load extra_filters %}
{% block subtitle %}Test plans{% endblock %}

{% block jslib_before_patternfly %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/testplan_actions.js"></script>

<script type="text/javascript">
Nitrate.Utils.after_page_load(Nitrate.TestPlans.List.on_load);
</script>
{% endblock %}

{% block page_content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url "nitrate-index" %}">Home</a></li>
		{% if query_result %}
		<li class="breadcrumb-item"><a href="{% url "plans-all" %}">Planning</a></li>
		<li class="breadcrumb-item active" aria-current="page">Search result</li>
		{% else %}
		<li class="breadcrumb-item active" aria-current="page">Planning</li>
		{% endif %}
	</ol>
</nav>

{% include "plan/plans_search_content.html" %}

{#<div class="row">#}
{#	<div class="col-md-2">#}
{#		{% include "plan/form/search.html" %}#}
{#	</div>#}
{#	<div class="col-md-10">#}
{#		{% if query_result %}#}
{#		{% include 'plan/common/plans_filtered.html' %}#}
{#		{% else %}#}
{#		<div class="blank-slate-pf table-view-pf-empty" id="emptyState1">#}
{#			<div class="blank-slate-pf-icon">#}
{#				<i class="fas fa-arrow-circle-left"></i>#}
{#			</div>#}
{#			<h1>#}
{#				Select criteria to search test plans.#}
{#			</h1>#}
{#			<div class="blank-slate-pf-secondary-action">#}
{#				<a title="List all the plans" class="btn btn-primary btn-lg" href="?name=&author=&product_id=&env_group_id=&is_active=on">View All Plans</a>#}
{#				<a class="btn btn-default btn-lg" href="/advance-search/">Advanced Search</a>#}
{#			</div>#}
{#		</div>#}
{#		{% endif %}#}
{#	</div>#}
{#</div>#}

<script>
jQ(document).ready(function() {
  jQ(".bootstrap-switch").bootstrapSwitch();

  jQ('.bootstrap-datepicker').datepicker({
    autoclose: true,
    todayBtn: "linked",
    todayHighlight: true,
    format: "yyyy-mm-dd"
  });
});
</script>
{% endblock %}
