{% extends "tcms_master.html" %}

{% block subtitle %}Plan Document History{% endblock %}

{% block custom_stylesheet %}
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src='{{ STATIC_URL }}js/testplan_actions.js'></script>
{% endblock %}

{% block content_type %}
<input type="hidden" name="content_type" value="testplans.testplan" />
<input type="hidden" name="object_pk" value="{{ testplan.pk }}" />
<input type="hidden" name="name" value="{{ testplan.name }}" />
{% endblock %}

{% block page_content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url "nitrate-index" %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url "plans-all" %}">Planning</a></li>
		<li class="breadcrumb-item"><a href="{{ testplan.get_absolute_url }}">{{ testplan.plan_id }}: {{ testplan.name }}</a></li>
		<li class="breadcrumb-item active">Document Edit History</li>
	</ol>
</nav>

<h2>{{ testplan.name }}</h2>

<table class="table table-bordered">
<thead>
	<tr>
		<th style="width:7%">Text Version</th>
		<th style="width:12%">Modified Date</th>
		<th style="width:15%">Changed By</th>
		<th>Document Preview</th>
	</tr>
</thead>
<tbody>
	{% for plan_text in test_plan_texts %}
	<tr {% ifequal plan_text.plan_text_version select_plan_text_version %}class="active"{% endifequal %}>
		<td><a href="{% url "plan-text-history" testplan.plan_id %}?plan_text_version={{ plan_text.plan_text_version }}">{{ plan_text.plan_text_version }}</a></td>
		<td>{{ plan_text.create_date }}</td>
		<td>{{ plan_text.author.email }}</td>
		<td>
			{{ plan_text.plan_text|striptags|truncatewords:"10" }}
		</td>
	</tr>
	{% ifequal plan_text.plan_text_version select_plan_text_version %}
	<tr>
		<td colspan="4">
			{{ plan_text.plan_text|safe }}
		</td>
	</tr>
	{% endifequal %}
	{% endfor %}
</tbody>
</table>
{% endblock %}
