{% extends "tcms_master.html" %}

{% block subtitle %}Bookmarks - {{ user_profile.user.username }}{% endblock %}

{% block jslib_before_patternfly %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/profiles.js"></script>
<script type="text/javascript">
Nitrate.Utils.after_page_load(Nitrate.Profiles.Bookmarks.on_load);
</script>
{% endblock %}

{% block page_content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url "nitrate-index" %}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Profile</li>
	</ol>
</nav>

<ul class="nav nav-tabs nav-tabs-bottom">
	<li>
		<a href="{% url "user-profile" user.username %}">Basic Information</a>
	</li>
	{% ifequal user_profile.user user %}
	<li class="active">
		<a href="{% url "user-bookmark" user.username %}">Bookmarks</a>
	</li>
	<li>
		<a href="{% url "user-recent" user.username %}">Recent</a>
	</li>
	{% endifequal %}
</ul>

{% if bookmarks %}
<div class="row toolbar-pf table-view-pf-toolbar" id="toolbar1">
	<div class="col-sm-12">
		<form id="bookmarkActionForm" class="toolbar-pf-actions" method="post" action="{% url "user-bookmark" user.username %}">
			{% include "csrf.html" %}
			<input type="hidden" name="a" value="remove">
			<div class="form-group">
				<button class="btn btn-default" type="button" id="removeSelectedBookmarks" disabled>Remove selected bookmarks</button>
			</div>
		</form>
	</div>
</div>

<table class="table table-striped table-bordered" id="bookmarks_table">
	<thead>
		<tr>
			<th>
				<label class="sr-only" for="selectAll">Select all rows</label>
				<input type="checkbox" id="selectAll" name="selectAll">
			</th>
			<th width="6%">Index</th>
			<th width="30%">Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{% for bookmark in bookmarks %}
		<tr>
			<td class="table-view-pf-select">
				<label class="sr-only">Select bookmark {{ forloop.counter }}</label>
				<input type="checkbox" id="bookmark_{{ forloop.counter }}" class="js-select-bookmark" name="bookmark_id" value="{{ bookmark.pk }}">
			</td>
			<td>{{ forloop.counter }}</td>
			<td>
				<a href='{{ bookmark.url }}'>{% if bookmark.name %}{{ bookmark }}{% else %}{{ bookmark.url }}{% endif %}</a>
			</td>
			<td>{{ bookmark.description|linebreaksbr }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<div class="blank-slate-pf table-view-pf-empty" id="emptyState1">
	<div class="blank-slate-pf-icon">
		<span class="pficon pficon pficon-add-circle-o"></span>
	</div>
	<h1>
		No pages is bookmarked yet.
	</h1>
</div>
{% endif %}

{% endblock %}
