{% extends "tcms_master.html" %}

{% block subtitle %}Profile - {{ user_profile.user.username }}{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/profiles.js"></script>
{% endblock %}

{% block page_content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url "nitrate-index" %}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Profile</li>
	</ol>
</nav>

<ul class="nav nav-tabs nav-tabs-bottom">
	<li class="active">
		<a href="{% url "user-profile" user.username %}">Basic Information</a>
	</li>
	{% ifequal user_profile.user user %}
	<li>
		<a href="{% url "user-bookmark" user.username %}">Bookmarks</a>
	</li>
	<li>
		<a href="{% url "user-recent" user.username %}">Recent</a>
	</li>
	{% endifequal %}
</ul>

<div class="row">
<div class="col-md-4">
	{% if message %}
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
			<span class="pficon pficon-close"></span>
		</button>
		<span class="pficon pficon-ok"></span>
		{{ message }}
	</div>
	{% endif %}

	{% ifequal user_profile.user user %}
	<form action="." method="post">
		{% csrf_token %}
		<div class="form-group">
			<input type="hidden" name="user" value="{{ user.pk }}" />
			{% if AUTH_BACKEND.can_register %}
				<label for="id_{{ form.username.name }}">Username</label>:
				{{ form.username }}
				<a href="{% url "password_change" %}" class="btn btn-primary">Change password</a>
			{% else %}
				<label>Username</label>:
				{{ user_profile.user.username }}
				<input type="hidden" name="username" value="{{ user_profile.user.username }}" />
			{% endif %}
		</div>

		<div class="form-group">
			<label for="id_{{ form.first_name.name }}">Name</label>
			<div class="form-inline">
				{{ form.first_name }}
				{{ form.last_name }}
			</div>
		</div>

		<div class="form-group">
			{% if AUTH_BACKEND.can_register %}
			<label for="id_{{ form.email.name }}">Email</label>
			{{ form.email }}
			{% else %}
			<label>Email</label>: {{ user_profile.user.email }}
			<input type="hidden" name="email" value="{{ user_profile.user.email }}" />
			{% endif %}
		</div>

		<div class="form-group">
			<label for="id_{{ form.phone_number.name }}">{{ form.phone_number.label }}</label>
			{{ form.phone_number }}
		</div>

		<div class="form-group">
			<label for="id_{{ form.im_type_id.name }}">{{ form.im_type_id.label }}</label>
			<div class="form-inline">
			{{ form.im_type_id }}
			{{ form.im }}
			</div>
		</div>

		<div class="form-group">
			<label for="id_{{ form.url.name }}">{{ form.url.label }}</label>
			{{ form.url }}
		</div>

		<div class="form-group">
			{{ form.errors }}
		</div>

		<div class="form-group">
			<label for="id_{{ form.address.name }}">{{ form.address.label }}</label>
			{{ form.address }}
		</div>

		<div class="form-group">
			<label for="id_{{ form.notes.name }}">{{ form.notes.label }}</label>
			{{ form.notes }}
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Save Change</button>
		</div>
	</form>
	{% else %}
	<table id="basic_info" class="table table-striped">
		<tr>
			<td class="left_title sprites login_info">Username</td>
			<td>{{ user_profile.user.username }}</td>
		</tr>
		<tr>
			<td class="left_title sprites username">Name</td>
			<td>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</td>
		</tr>
		<tr>
			<td class="left_title sprites email">Email</td>
			<td>
			{% if user_profile.user.email %}
			<a href='mailto:{{ user_profile.user.email }}'>{{ user_profile.user.email }}</a>
			{% endif %}
		</td>
		</tr>
		<tr>
			<td class="left_title sprites">Phone number</td>
			<td>{{ user_profile.phone_number }}</td>
		</tr>
		<tr>
			<td class="left_title sprites">IM</td>
			<td>{{ user_profile.get_im|default:'' }}</td>
		</tr>
		<tr>
			<td class="left_title sprites">Web</td>
			<td>{{ user_profile.url }}</td>
		</tr>
		<tr>
			<td class="left_title sprites">Address</td>
			<td>{{ user_profile.address }}</td>
		</tr>
		<tr>
			<td class="left_title sprites">Notes</td>
			<td>{{ user_profile.notes|urlize|linebreaksbr }}</td>
	</table>
	{% endifequal %}
</div>
<div class="col-md-8"></div>
</div>
{% endblock %}
