{% extends "tcms_master.html" %}

{% block subtitle %}Recent{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src='{{ STATIC_URL }}js/index.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}js/footer_at_the_end.js'></script>
{% endblock %}

{% block page_content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url "nitrate-index" %}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Profile</li>
	</ol>
</nav>

<ul class="nav nav-tabs nav-tabs-bottom">
	<li>
		<a href="{% url "user-profile" user.username %}">Basic Information</a>
	</li>
	{% ifequal user_profile.user user %}
	<li>
		<a href="{% url "user-bookmark" user.username %}">Bookmarks</a>
	</li>
	<li class="active">
		<a href="{% url "user-recent" user.username %}">Recent</a>
	</li>
	{% endifequal %}
</ul>

<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2">
						Test Runs
					</th>
				</tr>
			</thead>
			<tbody>
				{% for test_run in last_15_test_runs %}
				<tr>
					<td width="120">
						<div class="progress">
							<div class="progress-bar progress-bar-striped" style="width: {{ test_run.completed_case_run_percent|default:"0" }}%">
								{{ test_run.completed_case_run_percent|default:"0" }}%
							</div>
							<div class="progress-bar progress-bar-striped progress-bar-danger" style="width: {{ test_run.failed_case_run_percent|default:"0" }}%">
							</div>
						</div>
					</td>
					<td>
						<a class="link" href="{% url "run-get" test_run.run_id %}">
							{{ test_run.summary }}
						</a>
						<div class="grey">Start at {{ test_run.start_date }}</div>
					</td>
				</tr>
				{% endfor %}
				<tr>
					<th colspan="2">
						{% if test_runs_count %}
						<ul class="recent-table-footer">
							<li>
								{{ test_runs_count }} test run(s) related to you need to be run, here {% ifequal test_runs_count 1 %}is{% else %}are{% endifequal %} the latest {{ last_15_test_runs|length }}.
							</li>
							<li>
								<a href="{% url "runs-all" %}?people={{ user.email|iriencode }}&status=running" class="seeall"> SEE ALL</a>
							</li>
						</ul>
						{% else %}
						<ul class="recent-table-footer">
							<li>No run belong to you.</li>
							<li></li>
						</ul>
						{% endif %}
					</th>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th width="50%">Test Plans</th>
					<th>Product</th>
					<th>Type</th>
					<th>Runs</th>
				</tr>
			</thead>
			<tbody>
				{% for test_plan in last_15_test_plans %}
				{% if test_plan.is_active %}
				<tr>
					<td height="27"><a class="link" href="{{ test_plan.get_absolute_url }}">{{ test_plan.name }}</a></td>
					<td>{{ test_plan.product }}</td>
					<td>{{ test_plan.type }}</td>
					<td><a href="/runs/?plan={{ test_plan.plan_id }}">{{ test_plan.num_runs }}</a></td>
				</tr>
				{% endif %}
				{% endfor %}
				<tr>
					<th colspan="4">
						{% if test_plans_count %}
						<ul class="recent-table-footer">
							<li>
								You manage {{ test_plans_count }} test plan(s), {{ test_plans_disable_count }} test plan(s) disabled, here {% ifequal test_plans_count 1 %}is{% else %}are{% endifequal %} the latest {{ last_15_test_plans|length }}.
							</li>
							<li>
								<a class="seeall" href="{% url "plans-all" %}?author__email__startswith={{ user.email|iriencode }}">SEE ALL</a>
							</li>
						</ul>
						{% else %}
						<ul class="recent-table-footer">
							<li>No plan belong to you</li>
							<li>
								<a class="create" href="{% url "plans-new" %}">Create</a>
							</li>
						</ul>
						{% endif %}
					</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
